{% extends "base.html" %}
{# номер лабораторной работы: #}
{% block lab %}Лабораторная работы 4{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Формы (POST)</h1>
    <div>
       Тема лабораторной работы - Формы (POST).
    </div>
    <div>Список сделанных старниц:</div>
    <ol>
        <li><a href="/lab4/div-form">Деление</a></li>
        <li><a href="/lab4/sum-form">Сложение</a></li>
        <li><a href="/lab4/sub-form">Вычитание</a></li>
        <li><a href="/lab4/mult-form">Умножение</a></li>
        <li><a href="/lab4/deg-form">Возведение в степень</a></li>
        <li><a href="/lab4/tree">Счетчик деревьев</a></li>
        <li><a href="/lab4/login">Авторизация</a></li>
        <li><a href="/lab4/fridge">Симмулятор холодильника</a></li>
    </ol>
{% endblock %}