body {
    margin: 0;
    background-color: #dcdcdb;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    color: #4b3317;
    font-family: "Times New Roman";
    text-align: center;
}

main {
    margin-bottom: 30px;
    padding: 20px;
    text-align: left;
    margin-left: 50px;
    width: 1300px;
    margin-top: 20px;
    background-color: #b7b7b6;
    box-shadow: 3px 3px 7px rgb(92, 63, 32);
}

header {
    margin-bottom: 10px;
    background-color:#847c6a;
    margin-top: 5px;
    text-align: center;
    font-size: 22px;
    color: #673f07;
    display: block; 
    width: 100%;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color:#847c6a;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

ul {
    text-align: left;
    margin-left: 230px;
}

ol {
    text-align: left;
}

header a {
    text-decoration: none; /* Убирает подчеркивание у ссылок внутри header */
}

.error {
    background-color: rgb(14, 4, 30);
    color: rgb(184, 12, 78);
    font-size: 22px;
}
