img {
    width: 1200px;
    height: 580px;
    margin: auto;
}

body {
    background-color: rgb(51, 51, 153);
    text-align: center;
    margin-left: 20px;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(173, 196, 255);
}

