{% extends "base.html" %}
{% block lab %}Лабораторная работа 8{% endblock %}
{% block main %}
<div class="knowledge-base">
    <h1>Редактирование статьи</h1>

    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}

    <form action="/lab8/edit/{{ article.id }}" method="post">
        <div>
            <label>
                Заголовок: <input type="text" name="title" value="{{ article.title }}">
            </label>
        </div>

        <div>
            <label>
                Содержимое: <textarea name="content" required>{{ article.article_text }}</textarea>
            </label>
        </div>

        <button type="submit">Сохранить изменения</button>
    </form>
</div>
{% endblock %}