{% extends "base.html" %}
{% block lab %}Лабораторная работы 8{% endblock %}

{% block main %}
<style>
    div {
        width: 200px;
        height: 50px;
        border: 5px solid rgb(253, 140, 210);
        border-radius: 25%;
        background-color: rgb(252, 230, 239);
        display: inline-block;
        margin-left: 80px;
        margin-top: 10px;
        color: rgb(69, 1, 43);
        text-align: center;
        padding-top: 20px;
    }

    main {
        background-color: rgb(253, 108, 178);
    }
    h1 {
        color: white;
    }
</style>

    <h1>База знаний</h1>
        <div><a href="/lab8/articles" class="btn">Список статей</a></div>
        <div><a href="/lab8/create" class="btn">Создать статью</a></div>
        <div><a href="/lab8/public_articles" class="btn">Публичные статьи</a></div>

        {% if user.is_authenticated %}
            <div><a href="/lab8/logout" class="btn">Выйти</a></div>
        {% else %}
            <div><a href="/lab8/login" class="btn">Войти</a></div>
            <div><a href="/lab8/register" class="btn">Регистрация</a></div>
        {% endif %}

        <div>
            <span class="username">
                {% if user.is_authenticated %}
                    {{ user.login }}
                {% else %}
                    Anonymous
                {% endif %}
            </span>
        </div>

{% endblock %}
